.contenedor {
    display: flex;
    flex-direction: column;
}

.cuadradorojo {
    width: 100px;
    height: 100px;
    box-sizing: border-box;
    background: red;
    border: 2px solid black;
    padding: 5px;
    }

.cuadradoverde {
    width: 100px;
    height: 100px;
    box-sizing: border-box;
    background: green;
    border: 2px solid black;
    padding: 5px;
}

.cuadradoazul {
    width: 100px;
    height: 100px;
    box-sizing: border-box;
    background: blue;
    border: 2px solid black;
    padding: 5px;
}

.cuadradorojo, .cuadradoverde, .cuadradoazul:hover {
    cursor:pointer;
}